@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 1.06rem;
}

.header h1 {
  margin: 0 !important;
  padding: 0 !important;
}

/* Width */
::-webkit-scrollbar {
  /* display: none; */
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #0a192f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c44816d;
  border-radius: 10px;
}

.m {
  animation: m 1s infinite;
}

@keyframes m {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}

.u {
  animation: u 1s infinite;
}

@keyframes u {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.s {
  animation: s 1s infinite;
}

@keyframes s {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* input */

input,
textarea {
  height: 40px;
  border: 1px solid gray;
  width: 100%;
  padding-left: 20px;
}

input:focus {
  outline: none;
  border: 2px solid rgb(56, 56, 56);
}

textarea {
  height: 100px;
  padding-top: 10px;
}
